.gradientmetal {
  background-color: #5b6467;
  background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
}

.hvmg {
  background-image: linear-gradient(to right, green 20%, lime 50%, orange 60%, red 100%);
}

.vvmg {
  background-image: linear-gradient(to top, green 20%, lime 50%, orange 60%, red 100%);
}

.vvmgtron {
  background-image: linear-gradient(to top, #c6ffdd 20%, #fbd786 60%, #f64f59 100%);
}

.hvmgtron {
  background-image: linear-gradient(to right, #c6ffdd 20%, #fbd786 60%, #f64f59 100%);
}

.vvmgwire {
  background-image: linear-gradient(to top, #8a2387 20%, #e94057 60%, #f27121 100%);
}
