html,
body {
  margin: 0.2em;
  padding: 0.2em;
}

body {
  font-size: 1em;
  background-color: rgba(0, 0, 0, 0.25);
}

p.sc,
pre {
  background-color: black;
  color: lime;
}

p.sc {
  margin-left: 1em;
  width: 5em;
  font-size: 80%;
  font-style: italic;
  padding: 0.5em 0.5em 0.5em 0.5em;
  cursor: pointer;
  text-align: center;
}

p.sc + pre {
  width: 50%;
  min-width: 320px;
  margin-top: -1.3em;
  padding: 0.5em 0.5em 0.5em 0.5em;
  overflow-x: scroll;
  overflow-y: visible;
  font-family: Consolas, monospace;
  font-size: 0.7em;
  display: none;
}

p.sc:hover + pre,
p.sc + pre:hover {
  display: block;
}

.rangewrap {
  position: relative;
  width: 100%;
}

.range {
  width: 100%;
}

input[type="range"]::-moz-focus-outer {
  border: 0;
  cursor: pointer;
}

input[type="range"] {
  cursor: pointer;
}

input[type="button"] {
  padding: 5px 15px;
  background: #ccc;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.bubble {
  background-color: darkgray;
  color: black;
  padding: 0.5em 1em;
  position: absolute;
  border-radius: 0.5em;
  font-size: 75%;
}

.bubble::after {
  content: "";
  position: absolute;
  width: 0.5em;
  height: 1.6em;
  background-color: darkgray;
  top: -1.2em;
  left: 1.4em;
  z-index: -1;
}

.controlcontainer {
  width: 50%;
}

#vumDemoToggle {
  width: 100%;
}

#boardedh1 {
  margin: 0 auto;
  height: 30%;
}

#boardedv1 {
  width: 0.7em;
}

.clear {
  overflow: auto;
}
