.vum {
  position: relative;
  border: darkgray solid 1px;
  color: darkgray;
  border-style: inset;
}

.vumoverlay {
  position: absolute;
  right: 0;
  background-color: lightgray;
}

.vumh {
  width: 20em;
  height: 2em;
  margin: 0.2em;
}

.vumoverlayh {
  height: 100%;
  transition: width 200ms ease-in-out;
}

.vumv {
  width: 2.5em;
  height: 20em;
  margin: 0.2em 0.2em;
  float: left;
}

.vumoverlayv {
  width: 100%;
  transition: height 200ms ease-in-out;
}

.vumlabelh {
  display: inline-table;
  position: absolute;
  z-index: 10;
}

[data-tooltip]:after {
  position: absolute;
  right: 0.2em;
  content: attr(data-tooltip);
  filter: invert(100%);
}
