body {
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0.25);
}

.vm {
    position: relative;
    border: darkgray solid 1px;
    color: darkgray;
    box-sizing: border-box;
    box-shadow: 0px 2px 18px -4px rgba(0, 0, 0, 0.50);
}

.vmov {
    position: absolute;
    right: 0;
    background-color: lightgray;
}

.hvmg {
    background-image: linear-gradient(to right, green 20%, lime 50%, orange 60%, red 100%);
}

.hvmmask {
    mask-repeat: repeat-x;
}

.peopleMask {
    mask: radial-gradient(10px, #fff 100%, transparent 100%) 0 0/40px 20px;            
}

.circleMask {
    mask: radial-gradient(10px, #fff 100%, transparent 100%) 0 0/40px 40px;
    mask-repeat: repeat-x;
}
.circleMaskv {
    mask: radial-gradient(10px, #fff 100%, transparent 100%) 0 0/40px 40px;
    mask-repeat: repeat-y;
}

.ledMaskh {
    mask: radial-gradient(15px, #fff 100%, transparent 100%) 0 0/40px 10px;
    mask-repeat: repeat-x;
}

.ledMaskv {
    mask: radial-gradient(15px, #fff 100%, transparent 100%) 0 0/10px 40px;
    mask-repeat: repeat-y;
}

.hvm {
    width: 40em;
    height: 2em;
    margin: .2em;
}

.hvmov {
    height: 100%;
    transition: width 600ms ease-in-out;
}

.vvmg {
    background-image: linear-gradient(to top, green 20%, lime 50%, orange 60%, red 100%);
}

.vvmgtron {
    background-image: linear-gradient(to top, #C6FFDD 20%, #FBD786 60%, #f64f59 100%);
}

.hvmgtron {
    background-image: linear-gradient(to right, #C6FFDD 20%, #FBD786 60%, #f64f59 100%);
}

.vvmgwire {
    background-image: linear-gradient(to top, #8A2387 20%, #E94057 60%, #F27121 100%);
}

.vvm {
    width: 2.5em;
    height: 40em;
    margin: .2em .2em;
    float: left;
}

.vvmov {
    width: 100%;
    transition: height 600ms ease-in-out;
}

[data-tooltip]:after {
    position: absolute;
    right: .2em;
    content: attr(data-tooltip);
    filter: invert(100%);
}